<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554430226345-g9064tmpm4thbhvat2ri1a88eh3bj58b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554430226345-g9064tmpm4thbhvat2ri1a88eh3bj58b</string>
	<key>API_KEY</key>
	<string>AIzaSyDZZUFWwqhc0gQeesOlt6kXuJdiYom-FtU</string>
	<key>GCM_SENDER_ID</key>
	<string>554430226345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schedule</string>
	<key>PROJECT_ID</key>
	<string>schedule-7ad3b</string>
	<key>STORAGE_BUCKET</key>
	<string>schedule-7ad3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:554430226345:ios:fe9fdfe8470805966d2eb8</string>
</dict>
</plist>
